@charset "utf-8";

/* 롯데칠성 pc */
/* @import url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/Ownglyph_meetme-Rg.woff2'); */


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 1px solid darkblue;
}

:root {
  font-family: 'Ownglyph_meetme-Rg';
}

.inner {
  width: 1200px;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px; */
  margin: 0 auto;
}