@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Noto+Sans+KR:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 1px solid darkblue;
}
:root {
  font-family: "Noto Sans KR", sans-serif;
}

section {
  display: flex;
  flex-direction: row;
  height: 1024px;
}
.left {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
  background-image: url(/ex/image/pocari/background.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}
.inner720 {
  display: flex;
  padding-left: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 46px;
  flex: 1 0 0;
  align-self: stretch;
}
.left img {
  width: 132px;
  height: 132px;
}
h1 {
  color: #007DC6;
  font-family: "Noto Sans";
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
.left h1:nth-child(2) {
  color: #3395B9;
}
.subtitle {
  font-size: 40px;
  font-weight: 700;
  text-transform: capitalize;
}
span {
  color: #0033A6;
}
article {
  display: flex;
  padding-top: 100px;
  align-items: center;
  justify-content: center;
  gap: 40px;
  align-self: stretch
}
article > div {
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  text-align: center;
  font-weight: 700;
}
h3 {
  color: #0033A6;
  font-size: 20px;
  text-transform: capitalize;
}
p {
  font-size: 12px;
}
.inner720:nth-child(2) {
  padding: 100px 40px 30px 40px;
}
.right {
  background-image: url(/ex/image/pocari/background02.png);
  display: flex;
  padding: 100px 40px 30px 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  flex: 1 0 0;
  align-self: stretch;
}
.txtbox2 {
  font-weight: 700;
  text-transform: capitalize;
}

.txtbox2 > h1 {
  font-size: 45px;
}

.txtbox2 h2 {
  font-size: 35px;
}
.txtbox2 span {
  color: #007DC6;
  font-size: 50px;
}
.txtbox2 > h4 {
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
}
.imgbox {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
}