@charset "utf-8";
/* 롯데칠성 t */

h1 {
  color: red;
  font-size: 50px;
}
h2 {
  font-size: 25px;
  line-height: 1;
}
h3 {
  font-size: 16px;
}
p {
  font-size: 15px;

}
section:nth-child(1) .inner {
  width: 100%;
  padding: 50px 40px;
}
section:nth-child(2) .inner {
  padding: 50px 40px 0px 40px;
  gap: 20px;
  align-self: stretch;
  width: 100%;
}
section:nth-child(2) .inner > div {
  flex-direction: column;
  gap: 10px;
}
section:nth-child(2) {
  background-size: 100% 1000px;
}
section:nth-child(2) article:nth-of-type(2) {
  padding: 0;
}
section:nth-child(2) article:nth-of-type(3) {
  padding: 0;
}
article {
  display: flex;
  flex-direction: row;

}
article > div {
  height: auto;
  width: 100%;
  padding: 20px 20px 0px;
  gap: 10px;
  background: white;
}
img {
  width: 200px;
  height: 170px;
  object-fit: cover;
}
section:nth-child(1) p span:last-child {
  display: none;
}
p {
  flex-direction: column;
}