@charset "utf-8";

@font-face {
  font-family: 'omyu_pretty';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 1px solid darkblue;
  /* background-repeat: no-repeat; */
}
:root {
  font-family: 'omyu_pretty';
}
section {
  display: flex;
  height: 830px;
}
a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}
h1 {
  color: #FFF;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 20px;
}
h2 {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
}

h3 {
  color: #FFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 30px;
  font-weight: 700;
}
p {
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  padding-bottom: 100px;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}
/* sec01 */
.inner {
  display: flex;
  width: 960px;
  padding-top: 250px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
section:nth-child(1) {
  background: url(/ex/image/hyundal/hyundal.png) no-repeat 100%;
  /* background: url(/ex/image/hyundal/hyundal.png) no-repeat 50% 50%/100%; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
}
section:nth-child(1) .inner h2 {
  font-size: 40px;
  font-weight: 600;
  color: #009882;
}
section:nth-child(1) > .inner > a {
  padding: 14px 64px;
  background: #009882;


  /* sec02 */

}
.inner2 {
  width: 600px;
  display: flex;
  padding-top: 150px;
  flex-direction: column;
  align-items: flex-start;
}
section:nth-child(2) .inner2 > img {
  top: 1040px;
  position: absolute;
}
section:nth-child(2) > div {
  display: inherit;
  flex: 1 0 0;
}
section:nth-child(2) .left {
  justify-content: flex-end;
}
.inner3 {
  display: flex;
  width: 600px;
  padding: 220px 0px 0px 150px;
  flex-direction: column;
  align-items: flex-start;
}
section:nth-child(2) .right {
  background: #009882;
}
section:nth-child(2) > .right > .inner3 > h2 {
  color: #FFF;
}
section:nth-child(2) .right .inner3 h3 {
  padding: 20px 0px;
}
section:nth-child(2) > .right > .inner3 > p {
  text-align: left;
  padding-bottom: 30px;
}
.inner600 {
  width: 600px;
  height: 470px;
}

/* sec03 */
section:nth-child(3) {
  height: 756px;
  background: no-repeat 50% 50%/ 100%;
}
/* div 공통  */
section:nth-child(3) > div {
  width: 50%;
  height: 100%;
  display: flex;
  padding: 100px 0 0 0;
  justify-content: flex-end;
  align-items: flex-start;
  flex: 1 0 0;
  background: #F4F4F4;
}
/* inner600 공통  */
section:nth-child(3) > div > .inner600 {
  background: url(/ex/image/hyundal/hyundal600inner.png), no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

section:nth-child(3) :first-of-type .inner600 {
  padding: 40px;
  gap: 310px;
}


section:nth-child(3) > div > .inner600 > a {
  color: #009882;
  width: 200px;
  height: 45px;
  gap: 5px;
  border: 1px solid #FFF;
  align-self: flex-end;
}
section:nth-child(3) > div:nth-child(2) {
  background: #FFF;
  justify-content: flex-start;
  padding: 40px 0 0 0;
}
section:nth-child(3) div:nth-of-type(2) > .inner600 {
  width: 600px;
  height: 100%;
  padding: 0 40px 0 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;
  background: #FFF
}

section:nth-child(3) div:nth-of-type(2) > .inner600 > article {
  background: url(/ex/image/hyundal/hyundalFrame35.png);
  display: flex;
  width: 600px;
  height: 470px;
  gap: 270px;
  flex-direction: column;
  position: relative;
}
section:nth-child(3) div:nth-of-type(2) > .inner600 article h3 {
  margin: 40px 0 0 40px;
}
section:nth-child(3) div:nth-of-type(2) > .inner600 > article > a {
  width: 200px;
  height: 45px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #009882;
  align-self: flex-end;
  position: relative;
  top: 50px;
  right: 30px;
}


/* sec04 */
.inner4 {
  padding-top: 130px;
  gap: 100px;
}
section:nth-child(4) {
  background: url(/ex/image/hyundal/hyundal4.png) no-repeat 50% 50%/ 100%;
  background-size: cover;
  height: auto;
  flex-direction: column;
  align-items: center;
}
section:nth-child(4) > .inner4 > h2 {
  color: #FFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
section:nth-child(4) p {
  padding-bottom: 0px;
}
section:nth-child(4) > .inner > a {
  width: 200px;
  height: 120px;
  background: #009882;
}